@{
    ViewBag.Title = "Grocery Items List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        .form-horizontal .control-label {
            text-align: left;
        }
    </style>
}

<div>
    <h2>Grocery Items List</h2>

    <div class="container">
        <div class="col-sm-12 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Item Type</th>
                        <th>Price</th>
                        <th>Price Type</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="listBody"></tbody>
            </table>
        </div>
        <div class="col-sm-12" id="formDiv"></div>
    </div>
</div>

@section initScripts {
    <script type="text/javascript" src="~/Scripts/Services/groceryItem.services.js"></script>
}

@section scripts {
    <!-- List Template -->
    <script type="text/html" id="listTemplate">
        <tr class="itemRow">
            <td class="itemName"></td>
            <td class="itemType"></td>
            <td class="price"></td>
            <td class="priceType"></td>
            <td class="quantity"></td>
            <td>
                <button type="button" class="btn btn-info editBtn">Edit</button>
                <button type="button" class="btn btn-danger deleteBtn">Delete</button>
            </td>
        </tr>
    </script>

    <!-- Form Template -->
    <script type="text/html" id="formTemplate">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="itemName" class="col-sm-4 control-label">Name</label>
                <div class="col-sm-12">
                    <input type="text" id="itemName" class="form-control" placeholder="ex. Apple" />
                </div>
                <label for="itemType" class="col-sm-4 control-label">Item Type</label>
                <div class="col-sm-12">
                    <select class="form-control" id="itemType">
                        <option value="">Select an item type</option>
                    </select>
                </div>
                <label for="price" class="col-sm-4 control-label">Price</label>
                <div class="col-sm-12">
                    <input type="text" id="price" class="form-control" placeholder="ex. $2.99" />
                </div>
                <label for="priceType" class="col-sm-4 control-label">Price Type</label>
                <div class="col-sm-12">
                    <select class="form-control" id="priceType">
                        <option value="">Select a price type</option>
                        <option value="Per Item">Per Item</option>
                        <option value="By Weight">By Weight</option>
                    </select>
                </div>
                <label for="quantity" class="col-sm-4 control-label">Quantity</label>
                <div class="col-sm-12">
                    <input type="text" id="quantity" class="form-control" placeholder="ex. 5" />
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </script>

    <script type="text/javascript">
        var itemTypes = null;

        $(document).ready(function () {
            groceryItem.services.getItemTypes(onGetItemTypesSuccess, onGetError);
            $("#listBody").on("click", ".editBtn", showEditForm);
        });

        function loadTemplate(id) {
            return $($(id).html());
        }

        function getItemTypeName(id) {
            var typeName;
            itemTypes.forEach(function (element) {
                if (element.id === id) {
                    typeName = element.typeName;
                }
            });

            return typeName;
        }

        function appendItems(items) {
            for (var i = 0; i < items.length; i++) {
                var template = loadTemplate("#listTemplate");
                $(".editBtn", template).data("item", items[i]);
                $(".itemName", template).text(items[i].name);
                if (itemTypes) {
                    $(".itemType", template).text(getItemTypeName(items[i].itemType));
                }
                $(".price", template).text(items[i].price);
                $(".priceType", template).text(items[i].priceType);
                $(".quantity", template).text(items[i].quantity);

                $("#listBody").append(template);
            }
        }

        function showEditForm(event) {
            event.stopPropagation();
            var item = $(this).data("item");
            console.log(item);
            var template = loadTemplate("#formTemplate");

            if (itemTypes) {
                for (var i = 0; i < itemTypes.length; i++) {
                    $("#itemType", template).append("<option value=" + itemTypes[i].id + ">" + itemTypes[i].typeName + "</option>");
                }
            }

            if (!$("#formDiv").html() && item) {
                $("#itemName", template).val(item.name);
                $("#itemType", template).val(item.itemType);
                $("#price", template).val(item.price);
                $("#priceType", template).val(item.priceType);
                $("#quantity", template).val(item.quantity);

                $("#formDiv").append(template);
            }
        }

        /* Success & Error Functions */
        function onGetSuccess(data) {
            if (data && data.items) {
                appendItems(data.items);
            }
        }

        function onGetItemTypesSuccess(data) {
            if (data && data.items) {
                itemTypes = data.items;
                groceryItem.services.get(onGetSuccess, onGetError);

                console.log("itemTypes:", itemTypes);
            }
        }

        function onGetError(xhr, status, errorThrown) {
            console.log("status: ", status);
            console.log("xhr: ", xhr);
            console.log("errorThrown: ", errorThrown);
        }
    </script>
}